* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
/* width: 100%; */
  /* min-height: 100%; */
  overflow-x: hidden;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}


a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
